<main>
    <div class="box_main" #main>
        <div class="title"> <i class="voltar" (click)="voltar()">Voltar</i></div>
        <div class="box_conteudo">
            <div class="box_info">
               <h1>&#64;ZezinhoMorais</h1>
               <p>Já são 6 repositórios com linguagens back-end e front-end, onde reservo meus estudos, projetos pessoais e freelancers.</p> 
               <a  href="https://github.com/DevJoseMLNeto" target="_blank">GitHub ></a>
            </div>
        </div>

    </div>
</main>
