main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_main{
    height: 70%;
    width: 85%;
    background-color: #f0f0f030;
    border-radius: 12px ;
    overflow: hidden;
    animation-name: girandoMainAnimationR;
    animation-duration: 1000ms;
    animation-delay: 100ms;
    animation-fill-mode: both;
}

@keyframes girandoMainAnimationR {
    0%{
        transform: rotateY(90deg);
    }100%{
        transform: rotateY(0deg);
    }
}

.box_info{
    height: 33.33%;
    padding: 50px;
    width: 100%;
}

.about > p {
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #e5e5e5;
}

.name > p {
    
     font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: #e5e5e5;
    font-size: 3rem;
} 
.name{
    position: relative;
}

img{
    height: 30px;
    width: 30px;
    scale: 1.2;
   transform: rotate(-90deg);
   position: absolute;
   top: 45%;
   right: 20px;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}


.links > p, a{
       font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #e5e5e5;
  text-decoration: none;
  cursor: pointer;
}
.links > p:hover{
    transition-duration: 200ms;
    color: rgba(9, 0, 43, 1);
}
a:hover {
     transition-duration: 200ms;
    color: rgba(9, 0, 43, 1);
}


/* Ligar turbinas */

.turbinaAtiva{
    animation-name: ativa;
    animation-duration: 40ms;
    animation-iteration-count: infinite;
}

.turbinaAcelerando{
    animation-name: acelerando;
    animation-duration: 700ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes ativa{
    0%{
        top: 45%;
    }25%{
        top: 46%;
    }50%{
        top: 45%;
    }75%{
        top: 44%;
    }100%{
        top: 45%;
    }
}

@keyframes acelerando {
    0%{
        right: 20px;
    }100%{
        right: 120%;
    }
}

.rastro{
    position: absolute;
    width: 0px;
    height: 7px;
    background-color: blue;
    top: 51%;
   right: 10px;
   border-radius: 8px;
 

}

.rastroAcelerando{
      animation-name: acelerandoRastro;
   animation-duration: 1200ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

@keyframes acelerandoRastro {
    0%{
        right: 10px;
    }100%{
        width: 100%;
        right: 120%;
    }
}

/* Girando a main */


.girandoMain{
    animation-name: girandoMainAnimation;
    animation-duration: 1000ms;
    animation-delay: 700ms;
}

@keyframes girandoMainAnimation {
    0%{
        transform: rotateY(0deg);
    }100%{
        transform: rotateY(90deg);
    }
}