

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_main{
    height: 70%;
    width: 85%;
    background-color: #f0f0f030;
    border-radius: 12px ;
    overflow-x: hidden;
    overflow-y: scroll;
    animation-name: girandoMainAnimation;
    animation-duration: 1000ms;
    animation-delay: 100ms;
    animation-fill-mode: both;
}

@keyframes girandoMainAnimation {
    0%{
        transform: rotateY(90deg);
    }100%{
        transform: rotateY(0deg);
    }
}

.girandoMainReverse{
    animation-name: girandoMainAnimationR;
    animation-duration: 1000ms;
    animation-delay: 100ms;
    animation-fill-mode: both;
}

@keyframes girandoMainAnimationR {
    0%{
        transform: rotateY(0deg);
    }100%{
        transform: rotateY(90deg);
    }
}
.title{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title > h1 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #e5e5e5;
}

.voltar{
    position: absolute;
    left: 10px;
    top: 25%;
}

i{
    color: #e5e5e5;
    cursor: pointer;

}

i:hover{
    color: black;
    transition-duration: 200ms;
}

.box_conteudo{
    width: 100%;
    height: 80%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.wk{
    height: 100%;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    
}

.wk > img{
    height: 95%;
    width: 100%;
}

.wk:hover{
    scale:1.2;
    transition-duration: 200ms;
    
}

.projects{
color: #e5e5e5;
}

a{
    display: block;
    text-decoration: none;
    width: 28%;
    height: 45%;
    cursor: pointer;
}
