main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_main{
    height: 70%;
    width: 85%;
    background-color: #f0f0f030;
    border-radius: 12px ;
    overflow: hidden;
    animation-name: girandoMainAnimation;
    animation-duration: 1000ms;
    animation-delay: 100ms;
    animation-fill-mode: both;
}

@keyframes girandoMainAnimation {
    0%{
        transform: rotateY(90deg);
    }100%{
        transform: rotateY(0deg);
    }
}

.girandoMainReverse{
    animation-name: girandoMainAnimationR;
    animation-duration: 1000ms;
    animation-delay: 100ms;
    animation-fill-mode: both;
}

@keyframes girandoMainAnimationR {
    0%{
        transform: rotateY(0deg);
    }100%{
        transform: rotateY(90deg);
    }
}
.title{
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title > h1 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #e5e5e5;
}

.voltar{
    position: absolute;
    left: 10px;
    top: 25%;
    color: #e5e5e5;
    cursor: pointer;
}
.box_conteudo{
    width: 100%;
    height: 90%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.box_1{
    height: 40%;
    width: 20%;
    padding: 0px 10px 0px 10px;
}
.box_1 > img{
    height: 80%;
    width: 100%;
}

.box_2{
        padding: 0px 15px 0px 15px;
    width: 75%
    
}

.box_2 > p{
text-align: justify;
font-size: 18px;
color: #e5e5e5;
}

.box_3{
    padding: 0px 15px 0px 15px;
    width: 75%;
    height: 40%;
    
}
.box_3 > p{
text-align: justify;
font-size: 18px;
color: #e5e5e5;
}

.box_4{
    height: 40%;
    width: 20%;
    padding: 0px 10px 0px 10px;
}

.box_4 > img{
    height: 80%;
    width: 100%;
}