<main>
    <div class="box_main" #main>
        <div class="title"> <i class="voltar" (click)="voltar()">Voltar</i> <h1>Sobre mim</h1></div>
        <div class="box_conteudo ">
            <div class="box_1">
                <img src="/img.jpg" alt="">
                
            </div>
            <div class="box_2">
                    <p>Sou desenvolvedor front-end, trabalhando com tecnologias como Angular, TypeScript, JavaScript, JAVA, Spring, HTML, CSS e SQL. Atualmente trabalho em projetos freelancer, e sou auxiliar administrativo na empresa NeoEnergia. Atuei na criação de landing pages, aplicações web e aplicativos móveis com Ionic. Todos os dias trabalho e estudo buscando me especializar cada vez mais.
                    No ano de 2024 ingressei numa empresa com a proposta de ingressar jovens na área de tecnologia da informção, nesta empresa tive a oprtunidade de amadurecer profissionalmente, conhecer a rotina de uma empresa de software e suas metodologias. </p>
                
            </div>
            <div class="box_3">
                <p>No 2 semestre de 2025 ingressei na empresa NEOENERGIA COELBA, como auxiliar administrativo realizando diversas tarefas e aprendendo sobre administração, meus estudos e atividades corroboraram para meu crescimento e amadurecimento desenvolvendo diversas skills como comunicação, organização, agilidade e proatividade. Também me permitiu desenvolver projetos voltados para área abrangendo ainda mais meus conhecimentos em tecnologia e desenvolvimento de software. </p>
            </div>
            <div class="box_4">
               <img src="/img.jpg" alt="">
            </div>
    </div>

    </div>
</main>