<main>
    <div class="box_main" #main>
        <div class="title"> <i class="voltar" (click)="voltar()">Voltar</i> <h1>Sobre mim</h1></div>
        <div class="box_conteudo ">
            <div class="profissional">
                <p>Sou desenvolvedor front-end com mais de 1 ano de experiência trabalhando com tecnologias como Angular, TypeScript, JavaScript, JAVA, Spring, HTML, CSS e SQL. Atualmente trabalho em projetos freelancer, e sou auxiliar administrativo na empresa NeoEnergia. Atuei na criação de landing pages, aplicações web e aplicativos móveis com Ionic. Todos os dias trabalho e estudo buscando me especializar cada vez mais.</p>
                <img src="" alt="">
            </div>
            <div class="tempoLivre">
                <img src="/img.jpg" alt="">
                <p>Amante de video games e atleta de ciclismo, meus hobbies são o game e a bike. Trabalho meu espirito competitivo em provas e campeonatos junto com minha familia e amigos. desenvolvo minha criatividade e cooperatividae com meus amigos e me inspirando para futuros projetos pessoais.
                    Gosto de passar o dia focado em meus afazeres, me organizar previamente agir metodicamente cuidado de uma rotina saúdavel onde tenho tempo para minhas responsabilidades e diversões.
                </p>
            </div>
    </div>

    </div>
</main>