/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #030217;
background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(9, 0, 43, 1) 50%, rgba(3, 2, 23, 1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}